a {
	color: #11999E;
	font-family: 'Merriweather', serif;
	margin: 10px 20px;
	text-decoration: none;
}

a:hover {
	color: #eaf6f6;
	text-decoration: underline;
}

p {
	line-height: 2;
}

hr {
	border-top: 4px dotted #899696;
	width: 5%;
	margin: 100px auto;
}

h1 {
	margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 90px;
	color: #66BFBF;
}

h2 {
	font-size: 2.5rem;
	font-family: 'Montserrat', sans-serif;
	color: #66BFBF;
	font-weight: normal;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #11999E;
}



body {
	margin: 0%;
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #40514E;
}

#copyright{
	color: #eaf6f6;
	font-size: 0.75rem;
	padding: 20px 0;
}


img.profile_picture {
	height: 250px;
	width: 250px;
}

.top_container {
	background-color: #eaf6f6;
	padding-top: 50px;
}

.middle-container {
	margin: 50px 0px;
}

.bottom-container {
	background-color: #66bfbf;
	padding: 50px 0 20px;
}

.first_cloud {
	position: relative;
	left: 200px;
}

.second_cloud {
	position: absolute;
}

.skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
}

.skill_computer_picture {
	width: 25%;
	float: left;
	margin-right: 30px;
}

.skill_chilli_picture {
	width: 25%;
	float: right;
	margin-left: 30px;
}

.profile-picture-discription {
	width: 30%;
	margin: 0 auto;
}


.contact-me p{
	width: 40%;
	margin: 40px auto 60px;
}

.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: 'Merriweather', serif;	
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }
  
  .btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
  }